@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');

:root {
  --line-border-fill: #630cf1;
  --line-border-empty: #383838;
}

*{
  box-sizing: 0;
  padding: 0;
  margin: 0
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #a6acaf;
  font-family: "poppins", sans-serif;
}

.container {
  width: 550px;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  overflow-x: hidden;
}

.container .content h2 {
  font-size: 2rem;
  color: var(--line-border-empty);
  text-align: center;
  padding: 2rem 0;
}

.progress_container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
}
.progress_container::before{
  content: "";
  position: absolute;
  background-color: #ddd;
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
  transition: all 0.8s ease-in;
}

.circle{
  background-color: #ddd;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.circle.active {
  border-color: var(--line-border-empty);
  color: #fff;
  background-color: #43766c;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #43766c;
  color: #fff;
  padding: 4px 40px;
}

.btn:active {
  outline: none;
  transform: scale(0.98);
}

.disabled {
  outline: none;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  color: #000;
  padding: 4px 40px;
  background-color: #ddd;
  cursor: not-allowed;
}

/* form */
.form-container h2 {
  text-align: center;
}

.form-container form input {
  width: 94%;
  border: 1px solid #ddd;
  padding: 0.75rem 0.5rem;
  font-family: inherit;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.form-container form input:focus {
  outline: none;
}